#include <dt-bindings/zmk/stp.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    behaviors {
        #include "macros.dtsi"
      #include "version.dtsi"

        /* Left-hand home row mods: Only activate when pressing right-hand keys */
        hml: homerow_mods_left {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS_LEFT";
            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <125>;
            flavor = "balanced";
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74>; /* Right hand keys */
            hold-trigger-on-release; /* Wait to decide until key release */
        };

        /* Right-hand home row mods: Only activate when pressing left-hand keys */
        hmr: homerow_mods_right {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS_RIGHT";
            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <125>;
            flavor = "balanced";
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37>; /* Left hand keys */
            hold-trigger-on-release;
        };

        /* Enter key: Tap for Enter, Hold for Command/GUI */
        enter_cmd: enter_command {
            compatible = "zmk,behavior-hold-tap";
            label = "ENTER_COMMAND";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        /* Left thumb backspace that becomes Shift when held */
        bs_shift: backspace_shift {
            compatible = "zmk,behavior-hold-tap";
            label = "BACKSPACE_SHIFT";
            #binding-cells = <2>;
            tapping-term-ms = <240>;
            quick-tap-ms = <175>;
            flavor = "balanced";
            bindings = <&kp>, <&kp>;
        };

        /* Right thumb space that becomes Shift when held */
        sp_shift: space_shift {
            compatible = "zmk,behavior-hold-tap";
            label = "SPACE_SHIFT";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            flavor = "balanced";
        bindings = <&kp>, <&kp>;
        };

        /* Smart Toggle for Sym Layer: Tap=Sticky, DoubleTap=Toggle */
        td_sym: tap_dance_sym {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_SYM";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&sl 1>, <&tog 1>;
        };
    };



    keymap {
        compatible = "zmk,keymap";



        default_layer {
            display-name = "Base";
            bindings = <
&kp EQUAL  &kp N1     &kp N2    &kp N3       &kp N4        &kp N5     &sl 1                                                       &mo 3          &kp N6     &kp N7      &kp N8      &kp N9      &kp N0      &kp LBKT
&kp TAB    &kp Q      &kp P     &kp U        &kp Y         &kp SEMI   &none                                                       &none          &kp K      &kp F       &kp L       &kp R       &kp B       &kp BSLH
&kp ESC    &kp A      &kp O     &kp E        &kp I         &kp G      &none     &kp LCTRL  &kp LALT      &kp LGUI   &kp RCTRL    &none          &kp D      &kp H       &kp T       &kp N       &kp S       &sl 1
&kp LSHFT  &kp X      &kp J     &kp COMMA    &kp EQUAL     &kp SQT                         &kp HOME      &kp PG_UP                              &kp C      &kp M       &kp W       &kp V       &kp DOT     &kp RSHFT
&mo 2      &kp X      &kp Z     &kp LEFT     &kp RIGHT                &bs_shift LSHFT BSPC  &mo 4   &kp END       &td_sym  &lt 4 ENTER  &sp_shift RSHFT SPACE    &kp UP      &kp DOWN    &kp RBKT    &kp BSLH    &mo 2
            >;
        };

        sym_numpad {
            display-name = "Sym+Num";
            bindings = <
&kp EQUAL  &kp N1     &kp N2    &kp N3       &kp N4        &kp N5     &trans                                                      &mo 3      &kp CARET  &kp KP_NUM    &kp KP_EQUAL  &kp KP_DIVIDE  &kp KP_MULTIPLY  &kp MINUS
&kp TAB    &kp RBKT   &kp RBRC  &kp MINUS    &kp RPAR      &kp FSLH   &none                                                       &none      &kp AT     &kp KP_N7     &kp KP_N8     &kp KP_N9      &kp KP_MINUS     &kp BSLH
&kp ESC    &kp LBKT   &kp LBRC  &kp UNDER    &kp LPAR      &kp BSLH   &none     &kp LCTRL  &kp LALT      &kp LGUI   &kp RCTRL    &none      &kp HASH   &kp KP_N4     &kp KP_N5     &kp KP_N6      &kp KP_PLUS      &kp SQT
&kp LSHFT  &kp EXCL   &kp DLLR  &kp PRCNT    &kp CARET     &kp TILDE                          &kp HOME      &kp PG_UP                          &kp COLON  &kp KP_N1     &kp KP_N2     &kp KP_N3      &kp KP_ENTER     &kp RSHFT
&mo 2      &kp FSLH   &kp BSLH  &kp PIPE     &kp RIGHT                &bs_shift LSHFT BSPC  &kp DEL    &kp END       &trans     &kp ENTER    &sp_shift RSHFT KP_N0          &kp UP        &kp DOWN      &kp KP_DOT     &kp RBKT         &mo 2
            >;
        };

        fn {
            display-name = "Fn";
            bindings = <
&kp F1  &kp F2  &kp F3  &kp F4  &kp F5  &kp F6  &sl 1                                       &mo 3   &kp F7  &kp F8  &kp F9  &kp F10  &kp F11  &kp F12
&trans  &trans  &trans  &trans  &trans  &trans  &none                                       &none   &trans  &trans  &trans  &trans   &trans   &trans
&trans  &trans  &trans  &trans  &trans  &trans  &none   &trans  &trans      &trans  &trans  &none   &trans  &trans  &trans  &trans   &trans   &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans      &trans                  &trans  &trans  &trans  &trans   &trans   &trans
&trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans      &trans  &trans  &trans          &trans  &trans  &trans   &trans   &trans
            >;
        };

        mod {
            display-name = "Mod";
            bindings = <
&none           &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &none                                                  &trans           &none  &none       &none       &none  &none  &none
&none           &none         &none         &none         &none         &none         &bootloader                                            &bootloader      &none  &none       &none       &none  &none  &none
&studio_unlock  &none         &none         &none         &none         &none         &none        &none  &none      &bt BT_CLR  &none       &stp STP_BAT     &none  &none       &none       &none  &none  &none
&none           &none         &none         &none         &macro_ver    &none                             &none      &none                                    &none  &none       &none       &none  &none  &none
&none           &none         &none         &none         &none                       &none        &none  &none      &none       &bl BL_TOG  &rgb_ug RGB_TOG         &bl BL_INC  &bl BL_DEC  &none  &none  &none
            >;
        };

        nav {
            display-name = "Nav";
            bindings = <
&kp LG(EQUAL) &kp LG(N1) &kp LG(N2) &kp LG(N3)   &kp LG(N4)    &kp LG(N5) &trans                                       &trans &kp LG(N6) &kp LG(N7) &kp LG(N8) &kp LG(N9) &kp LG(N0) &kp LG(LBKT)
&kp LG(TAB)   &kp LG(Q)  &kp LG(P)  &kp LG(U)    &kp LG(Y)     &kp LG(SEMI) &trans                                     &trans &kp LG(K)  &kp LG(F)  &kp LG(L)  &kp LG(R)  &kp LG(B)  &kp LG(BSLH)
&kp LG(ESC)   &kp LG(A)  &kp LG(O)  &kp LG(E)    &kp LG(I)     &kp LG(G)  &trans   &trans  &trans      &trans  &trans  &trans &kp LEFT   &kp DOWN   &kp UP     &kp RIGHT  &kp LG(S)  &trans
&kp LG(LSHFT) &kp LG(Z)  &kp LG(X)  &kp LG(C)    &kp LG(V)     &kp LG(SQT)              &trans      &trans                     &kp LG(C)  &kp LG(M)  &kp LG(W)  &kp LG(V)  &kp LG(DOT) &kp LG(RSHFT)
&trans        &kp LG(X)  &kp LG(Z)  &kp LG(LEFT) &kp LG(RIGHT)            &kp LG(BSPC) &trans &kp LG(END)      &kp LG(PG_DN) &kp LG(ENTER) &kp LG(SPACE)          &kp LG(UP) &kp LG(DOWN) &kp LG(RBKT) &kp LG(BSLH) &trans
            >;
        };

        extra2 {
            display-name = "Purple";
            status = "reserved";
        };

        extra3 {
            display-name = "Cyan";
            status = "reserved";
        };

        extra4 {
            display-name = "Yellow";
            status = "reserved";
        };
    };
};
